
<h1>Multisite - API</h1>
<div><a href="http://bizgen.co/web/admin/api/idea">bizgen.co</a></div>
<div><a href="http://h.eartbe.at/web/admin/api/beat">h.eartbe.at</a></div>
<div><a href="http://classapp.org/web/admin/api/idea">classapp.org</a></div>
<div><a href="http://wzw.io/web/admin/api/idea">wzw.io</a></div>
<div><a href="http://zterr.org/web/admin/api/idea">zterr.org</a></div>
<hr>
<div><a href="{{ path('item_index') }}">Admin Items</a></div>1
